<!DOCTYPE html>
<hmtl>
<head>
  <title>AK Clothing Connection</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/landing_page.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="../javascripts/landing_page.js" type="text/javascript"></script>
</head>
<body>
  <div class='header'>
    <a href='landing_page.html'><img class='logo' src='http://i.imgur.com/j78hKQF.gif' height='50', width='350'></a>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg header-link dropdown">Men
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hoodies</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">T-shirts</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tanks</a></li>
        </ul>
      </button>
      <button type="button" class="btn btn-default btn-lg header-link dropdown">Women
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hoodies</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">T-shirts</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tanks</a></li>
        </ul>
      </button>
      <button type="button" class="btn btn-default btn-lg header-link dropdown">About
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="team_page.html">Meet the team</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Our Mission</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social Media</a></li>
        </ul>
      </button>
      <button type="button" class="btn btn-default btn-lg header-link dropdown">Contact
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email Us</a></li>
        </ul>
      </button>
    </div>
  </div>
  <div class='container'>
    <div class='member-block'>
      <div class='member-pic'></div>
      <div class='member-title'><p>Some Title</p></div>
      <div class='member-info'>
        <p>Aenean lacinia tortor sed dolor ultrices sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sodales metus eros, eu lobortis mauris venenatis in. Nam eget vestibulum augue. Quisque purus tortor, iaculis facilisis felis non, pretium pretium mi. Nunc lacus ipsum, tempus vitae leo sed, sodales auctor dui. Morbi ullamcorper turpis vulputate lectus dictum, a accumsan lectus cursus. Fusce congue hendrerit diam. Morbi ut odio sapien. Aliquam rutrum turpis nec felis varius, non tristique mauris consectetur. Aenean rhoncus aliquam lacus, in rutrum sem tristique vel. Mauris hendrerit risus eu lectus dignissim dictum
        </p>
      </div>
    </div>

  </div>
</body>
</html>
