body{
  background: url(http://www.travelalaska.com/~/media/Images/Travel%20Alaska/Content/HomePage/ChugachMountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  margin-left: 100px !important;
}
.options{
  display: none;
}
.header{
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;
  position: relative;
  top: 0;
  position: fixed;
  background: rgba(255,255,255, 0.8);
}
.btn-group{
  margin-left: 25px;
}
.filters{
  position: relative;
  position: fixed;
  margin-top: 150px;
  width: 90px;
  height: 500px;
  z-index: -1;
}
.filter{
  font-size: 16px !important;
  margin-top: 5px;
}
#filter-title{
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
  background: white;
}
.btn{
  border-radius: 0 !important;
}
.header-link{
  border: 1px solid red !important;
}
.content{
margin-top: 150px;
position: relative;
z-index: -1;
}
.option{
  color: white;
  border-top: 1px solid white;;
  font-size: 12px;
  background: rgb(220, 88, 74);
  text-align: center;
}
.hot-item-well{
  text-align: center;
}
.countdown{
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 32px;
  padding: 5px;
  background: #FFA319;
}
.hot-item-buy{
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: white;
  height: 32px;
  padding: 5px;
  border-top: 1px solid white;
  background: #2EB82E;
}
.side-panel{
  position: fixed;
  width: 100%;
}
#first-block{
  margin-top: 150px;
}
.member-block{
  margin-bottom: 25px;
  background: rgba(250, 250, 250, 0.9);
  height: 250px;
  width: 850px;
  padding: 25px;
  border-radius: 20px;
}
.member-pic{
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  float: left;
  margin-bottom: 25px;
  border: 1px solid black;
}
#CTO{
  background-image: url('https://media.licdn.com/media/p/2/005/077/234/309c24f.jpg');
  background-position: left;
}
#CEO{
  background-image: url('https://scontent-a-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/970672_1384126195145128_701192438_n.jpg?oh=205b105b7773666a58f21465090b3ebd&oe=547581DD');
}
.pic-title{
  width: 150px;
  float: left;
}
.member-info{
  width: 75%;
  float: left;
  margin-left: 50px;
}
.member-title{
  text-align: center;
}
