body{
  background: url(http://www.travelalaska.com/~/media/Images/Travel%20Alaska/Content/HomePage/ChugachMountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.options{
  display: none;
}
.header{
  padding: 10px 0;
  border-bottom: 1px solid black;
  position: fixed !important;
  background: rgba(255,255,255, 0.8);
}
.btn-group{
  margin-left: 25px;
}
.filters{
  margin-top: 150px;
  width: 100px;
  position: fixed !important;
}
.filter{
  font-size: 16px !important;
  margin-top: 5px;
}
.filter-title{
  text-align: center;
  height: 32px;
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
  background: white;
}
.btn{
  border-radius: 0 !important;
}
.header-link{
  border: 1px solid red !important;
}
.products{
  margin-top: 150px;
  position: relative;
  z-index: -1;
}
.option{
  color: white;
  border-top: 1px solid white;;
  font-size: 12px;
  background: rgb(220, 88, 74);
  text-align: center;
}
